:root {
    // Tokens
    --color-grey-50: #FAFAFA;
    --color-grey-200: #EEEEEE;
    --color-primary-500: #141B4D;
    --color-primary-800: #0B1034;
    --color-accent-500: #0086D6;
    --color-error-500: #CB4848;

    // Unspecified colors
    --color-body-text: #212121DE;
    --color-active-menu: #FAFAFA29;
    --color-favorite: #2121218A;
    --color-border-switch: #D5D5D5;
    --color-white: #ffffff;
    --color-scrollbar-thumb: #A5A5A5;
    --color-scrollbar-track-shadow: inset 0 0 8px rgb(150 150 150 / 50%);
}